{% extends "base.html" %}

{% block content %}
    <div class="content-subhead">All posts in archive</div>
    {% if error %}
        <p>No related posts</p>
    {% else %}
        {% for post in post_list %}
        <section>
            <header>
                <h2>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="">
                    Time:
                        <a href="#">
                            {{ post.date_time |date:'Y /m /d'}}
                        </a> &nbsp;&nbsp;
                    Category:
                        <a href="{% url 'blog:search_category' category=post.category %}">
                            {{ post.category }}
                        </a> &nbsp; &nbsp;
                    Tag:
                        {% for tag in post.tag.all %}                            
                            <a href="{% url 'blog:search_tag' tag=tag %}">{{ tag }}</a>
                        {% endfor %}
                </p>
            </header>
        </section>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
