{% extends "base.html" %}
{% block content %}
    <header class="content-subhead">
        edited &rarr;
        <a class="">
            {{ post.updated_at | date:'d/m/Y' }}
        </a>
    </header>
    <article class="article">
        <h1>{{ post.title }}</h1>
        <p class="text-justify">{{ post.body }}</p>
    </article>
    <hr>
    <ul class="tags">
        <!-- <li>
                <a class="tag" href="{% url 'blog:search_category' category=post.category %}">
                    { post.category }
                </a>
            </li> -->
        {% for tag in post.tag.all %}
        <li>
            <a class="tag" href="{% url 'blog:search_tag' tag=tag %}">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="#">Published: {{ post.created_at|date:"D d F Y"}}</a>
    {% include "comments.html" %}
    <a href="#" class="go-top">Go Top</a>
{% endblock %}
