{% extends "base.html" %}
{% block content %}
    <header class="content-subhead">
        edited &rarr;
        <a class="">
            {{ post.updated | date:'d/m/Y' }}
        </a>
    </header>
    <article class="article">
        <h1>{{ post.title }}</h1>
        <p class="text-justify">{{ post.body }}</p>
    </article>
    <hr>
    <ul class="tags">
        {% for tag in post.tags.all %}
        <li>
            <a class="tag" href="{% url 'blog:search_tag' tag.slug post.pk %}">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="#">Published: {{ post.created|date:"D d F Y"}}</a>
    {% include "comments.html" %}
    <a href="#" class="go-top">Go Top</a>
{% endblock %}
