<hgroup class="column-left-menu">
    <img src="https://s.gravatar.com/avatar/4d420075a242b2c9b470b23ec2a914a0?s=600" alt=""
        class="img-responsive img-circle image-profile" />
    <h1 class="text-center">
        <a href="{% url 'blog:home' %}">André Santos Blog</a>
    </h1>
    <br>
    <div class="menu-sidebar text-center">
        <div class="btn-burguer">
            <div>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </div>
        <ul class="dropdown">
            {% if request.get_full_path != '/' %}
            <li>
                <a href="{% url 'blog:home' %}">Home</a>
            </li>
            {% endif %}
            {% if  request.get_full_path != '/aboutme/' %}
            <li>
                <a href="{% url 'blog:about_me' %}">About Me</a>
            </li>
            {% endif %}
            {% if  request.get_full_path != '/archives/' %}
            <li>
                <a href="{% url 'blog:archives' %}">Archive</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'blog:RSS' %}" target="_blank">RSS</a>
            </li>
        </ul>
    </div>
</hgroup>
<hgroup class="column-left-social">
    <div class="social social-icons">
        <a href="https://www.facebook.com/ztzandre" target="_blank">
            <i id="social-btn" class="fa fa-facebook fa-3x"></i>
        </a>
        <a href="https://github.com/andreztz" target="_blank">
            <i id="social-btn" class="fa fa-github fa-3x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCAwZjRyaUvoVu2thZBoGO8w" target="_blank">
            <i id="social-btn" class="fa fa-youtube fa-3x"></i>
        </a>
        <a href="https://plus.google.com/u/0/+AndréSantosztz" target="_blank">
            <i id="social-btn" class="fa fa-google-plus fa-3x"></i>
        </a>
        <a href="https://twitter.com/ztzandre" target="_blank">
            <i id="social-btn" class="fa fa-twitter fa-3x"></i>
        </a>
    </div>
</hgroup>
