{% if request.get_full_path == '/' %}
    <hgroup class="column-left-menu">
        <img src="http://www.gravatar.com/avatar/4d420075a242b2c9b470b23ec2a914a0.png" alt="" class="img-responsive img-circle image-profile"/>
        <h1 class="text-center">
            <a href="{% url 'home' %}">André Santos Blog</a>
        </h1>
        <br>
        <div class="menu-sidebar text-center">
            <div class="btn-burguer">
                <div>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <ul class="dropdown">
                    <li>
                        <a href="{% url 'about_me' %}">About Me</a>
                    </li>
                    <li>
                        <a href="{% url 'archives' %}">Archive</a>
                    </li>
                    <li>
                        <a href="{% url 'RSS' %}" target="_blank">RSS</a>
                    </li>
            </ul>
        </div>
    </hgroup>
    <hgroup class="column-left-social">
            <div class="social social-icons">
                <a href="https://www.facebook.com/ztzandre" target="_blank">
                    <i id="social-btn" class="fa fa-facebook fa-3x"></i>
                </a>
                <a href="https://github.com/andreztz" target="_blank">
                    <i id="social-btn" class="fa fa-github fa-3x"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCAwZjRyaUvoVu2thZBoGO8w" target="_blank">
                    <i id="social-btn" class="fa fa-youtube fa-3x"></i>
                </a>
                <a href="https://plus.google.com/u/0/+AndréSantosztz" target="_blank">
                    <i id="social-btn" class="fa fa-google-plus fa-3x"></i>
                </a>
                <a href="https://twitter.com/ztzandre" target="_blank">
                    <i id="social-btn" class="fa fa-twitter fa-3x"></i>
                </a>
            </div>
    </hgroup>
{% else %}
    <hgroup class="column-left-menu">
        <div class="text-center">
            <img src="http://www.gravatar.com/avatar/4d420075a242b2c9b470b23ec2a914a0.png" alt="" class="img-responsive img-circle image-profile"/>
        </div>
        <h1 class="text-center">André Santos</h1>
        <strong>
            <p class="text-center">Published:</p>
        </strong>
        <p class="text-center">{{ post.created_at|date:"D d F Y"}}</p>
        <br>
        <p class="text-center">
            <a href="{% url 'home' %}">&larr;Home</a>
        </p>
    </hgroup>
{% endif %}
