{% extends "base.html" %}

{% block pagetitle %}
    {% for post in post_list %}
        <title>{{ post.category }}</title>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="content-subhead">All posts</div>
    {% for post in post_list %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <br>
        <p class="small post-meta">
            published：
                <a class="">
                    {{ post.created | date:'Y/m/d' }}
                </a>
                &nbsp;&nbsp;
            edited：
                <a class="">
                    {{ post.updated | date:'Y/m/d' }}
                </a>
                &nbsp;&nbsp;
            category：
                <a class="" href="{% url 'blog:search_category' post.category %}">
                    {{ post.category | title}}
                </a>
                &nbsp;&nbsp;
            tags：
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:search_tag' tag %}">{{ tag }}</a>
            {% endfor %}
        </p>
        <br>
    {% empty %}
        <li>Sorry, no article with this tag!!.</li>
    {% endfor %}
  </div>
  <a href="#" class="go-top">Go Top</a>
{% endblock %}
